
$color-primario: #00b0ff;
// Contendo general
section {
    display: flex;
    height: calc(100vh - 100px);
}
.center{
    height: 450px;
}
// Alineando items
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    grid-column: 4/-4;
    background: #ddd;
    border-radius: 10px;
}
// Formulario
.formulario{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}


.ayudita{
    position: absolute;
    bottom: 0;
    left: 0;
}
